h1 {
	font-family: Bookman Old Style;
	font-size: 300%;
}
h3 {
	font-family: Bookman Old Style;
	font-size: 150%;
}
h2 {
	font-family: Bookman Old Style;
	font-size: 200%;
}

input[type=text] {
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 150%;
  font-family: Bookman Old Style;
  width: 20%;
  height: calc(2.25rem + 2px);
}
input:focus {
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.4rem #66CDAA;
}

.button {
	font-family: Bookman Old Style;
	font-size: 150%;
	font-weight: 500;
	color: black;
	text-decoration: none;
	padding: .8em 1em ;
	border-radius: 12px;
	background-color: #e7e7e7;
	transition: 0.2s;
	border:  0px;
} 
.button:hover { 
	background-color: #66CDAA;
	color: white; 
}
.button:active { 
	background-color: #66CDAA;
	color: white; 
}
.center { 
	position: relative;
	left: 50%;
	transform: translate(-50%, 0); 
}
table, tr, td {
	border: 1px solid;
	font-size: 120%;
	width: 40%;
}
td.nobord { 
	border: 0px solid; 
}
td.right { 
	background: green;
}
td.wrong { 
	background: red;
}